.bg-primary {
  background-color: $primay-color;
}

.bg-info {
  background-color: $info-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-success {
  background-color: $success-color;
}

.bg-danger {
  background-color: $danger-color;
}

.bg-warn {
  background-color: $warn-color;
}

.primary {
  color: $primay-color;
}

.info {
  color: $info-color;
}

.secondary {
  color: $secondary-color;
}

.success {
  color: $success-color;
}

.danger {
  color: $danger-color;
}

.warn {
  color: $warn-color;
}

.text {
  color: $text-color;
}

.icon {
  color: $icon-color;
}

.blue {
  color: #2196f3 !important;
}

.orange {
  color: #f0ad4e !important;
}

.red {
  color: #ff4d4f !important;
}

.yellow {
  color: yellow !important;
}

.pink {
  color: pink !important;
}

.purple {
  color: purple !important;
}