@import "variables";

.ant-tabs {
  height: 100%;
  min-height: 100%;

  .ant-tabs-content-holder {
    overflow: auto;
  }

  .ant-tabs-tabpane {
    padding-right: 0 !important;
  }
}

.module-layout {
  nz-content {
    background-color: $inner-layout-content-color;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > * {
      padding: 1em;
      border-radius: 5px;
      box-shadow: $base-shadow;
      background-color: $white-color;
    }

    .form-area {
      flex: auto;

      nz-row.section-row {
        position: relative;
        border: 0.5px solid #2196f3;
      }

      nz-row.section-row + * {
        border-top: none;
      }
    }

    .footer {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
    }
  }

  nz-sider {
    border-left: 1px solid $border-color;
  }

  .ant-menu {
    border: none;

    .ant-menu-item.field-item {
      width: auto;
      height: auto;
      padding: 0.5em !important;
      gap: 0.5em;
      border-bottom: 1px solid $border-color;

      div:nth-child(1) {
        cursor: move;
        padding: 0 1em;
      }

      div:nth-child(2) {
        display: flex;
        justify-content: center;

        .field-icon {
          position: relative;
          border-radius: 5px;
          padding: 0 0.8em;
          background-color: $gray-color;
          margin: 0 0.7em 0 0;
        }
      }
    }
  }
}

.style-sider {
  padding: 1em;
  overflow: auto;
  box-shadow: $base-shadow;
}

//form element
#elementContainer {
  position: relative;
  padding: 0.2em;
  border-radius: 5px;
  // overflow-x: scroll;
}

.active-container {
  border: 1px solid #2196f3;
}

.element-controls {
  position: absolute;
  top: 0;
  transform: translate(0, -50%);
  right: 0.5em;
  display: flex;
  gap: 4px;
  background: white;
  padding: 0 0.5em;
}

.section-row {
  position: relative;
  flex: auto;
}

.section-row nz-col {
  padding: 1em;
}

.section-row > nz-col + nz-col {
  border-left: 0.5px solid #2196f3;
}

.section-row .row-controls {
  position: absolute;
  top: 0;
  transform: translate(0, -50%);
  left: 0.5em;
  display: flex;
  gap: 4px;
  background: white;
  padding: 0 0.5em;
}
