<nz-layout class="module-layout">
  <nz-sider class="style-sider" nzWidth="300px" [nzTheme]="config.state.theme" *ngIf="service.paramForm">
    <dms-form [fields]="service.paramFormFields" [formGroup]="service.paramForm" [showFooter]="false"> </dms-form>
    <dms-form [fields]="service.styleFormFields" [formGroup]="service.styleForm" [showFooter]="false"> </dms-form>
  </nz-sider>
  <nz-content>
    <form
      nz-form
      cdkDropList
      class="form-aria"
      id="formContainer"
      nzLayout="vertical"
      dragAndDropManager
      [cdkDropListData]="service.state.formData?.children"
      (cdkDropListDropped)="droped($event)"
    >
      <ng-container *ngFor="let field of service.state.formData?.children; let i = index">
        <form-element
          [element]="field"
          [parent]="service.state.formData"
          [elementIndex]="i"
          [config]="field.formparam?.formgroup?.value"
          [style]="field.formstyle?.formgroup?.value"
          (droped)="droped($event)"
          (ondelete)="ondelete($event)"
          (onselect)="onselect($event)"
        ></form-element>
      </ng-container>
    </form>
    <div class="footer">
      <button nz-button nzType="primary" (click)="service.onSubmit()">Submit</button>
    </div>
  </nz-content>
  <nz-sider nzWidth="360px" [nzTheme]="config.state.theme">
    <nz-tabset nzSize="large" nzTabPosition="right">
      <nz-tab
        id="source"
        cdkDropList
        cdkDropListSortingDisabled
        [nzTitle]="titleTemplate"
        [cdkDropListData]="element.children"
        (cdkDropListEntered)="entered($event)"
        (cdkDropListExited)="exited($event, i)"
        *ngFor="let element of service.state.formElements; let i = index"
      >
        <ng-template #titleTemplate>
          <i nz-icon [nzType]="element.icon"></i>
        </ng-template>

        <ul nz-menu nzMode="inline" dragAndDropManager [nzSelectable]="false">
          <ng-container *ngFor="let item of element.children">
            <li cdkDrag nz-menu-item class="field-item" [cdkDragData]="item">
              <div cdkDragHandle>
                <span nz-icon nzType="holder"></span>
              </div>
              <div>
                <span class="field-icon">
                  <i nz-icon [nzType]="item.menuConfig.icon"></i>
                </span>
                <span translate>{{ item.menuConfig.name }}</span>
              </div>
              <span *cdkDragPreview>{{ item.menuConfig.name }}</span>
              <div class="drag-placeholder" *cdkDragPlaceholder></div>
            </li>
          </ng-container>
        </ul>
      </nz-tab>
    </nz-tabset>
  </nz-sider>
</nz-layout>
